<!DOCTYPE html>
<html>

<head>
    <title>Your All Cities</title>
    <style>
        .city-form .form-group {
            margin-bottom: 20px;
        }

        .radio-label,
        .checkbox-label {
            margin-right: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1 id="session"></h1>

    <h1>Your All Cities</h1>
    <p>
        <a class="btn btn-primary" asp-action="AddCity">Add New City</a>
    </p>

    <div class="container">
        <div class="table-container">
            <table class="table" id="cityTable">
                <thead>
                    <tr>
                        <th>City ID</th>
                        <th>User ID</th>
                        <th>City Name</th>
                        <th>Type</th>
                        <th>City Facility</th>
                        <th>City Photo</th>
                        <th>Date</th>
                        <th>State ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div>
            <form id="Form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="c_cityid">City Id:</label>
                    <input type="text" readonly class="form-control" id="c_cityid" name="c_cityid">
                </div>
                <div class="form-group">
                    <label for="c_cityname">City Name:</label>
                    <input type="text" class="form-control" id="c_cityname" name="c_cityname">
                </div>
                <div class="form-group">
                    <label>Type:</label><br>
                    <label class="radio-label"><input type="radio" id="rural" name="c_type" value="Rural">Rural</label>
                    <label class="radio-label"><input type="radio" id="urban" name="c_type" value="Urban">Urban</label>
                </div>
                <div class="form-group">
                    <label>Facility:</label><br>
                    <label class="checkbox-label"><input type="checkbox" id="airport" name="facility"
                            value="Airport">Airport</label>
                    <label class="checkbox-label"><input type="checkbox" id="metro" name="facility"
                            value="Metro">Metro</label>
                    <label class="checkbox-label"><input type="checkbox" id="other" name="facility"
                            value="Other">Other</label>
                </div>
                <div class="form-group">
                    <label for="c_photo">City Photo:</label>
                    <input type="file" class="form-control" id="file" name="file">
                </div>
                <img class="" id="c_city_photo" name="c_city_photo" width="50px" height="50px" />

                <div class="form-group">
                    <label for="c_stateid">State:</label>
                    <select class="form-control" id="c_stateid" name="c_stateid">
                        <option value="">Select State</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="c_date">Date:</label>
                    <input type="date" class="form-control" id="c_date" name="c_date">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var username = sessionStorage.getItem('userid');
        $(document).ready(function () {
            console.log("Username:", username);
            if (username) {

                document.getElementById('session').innerHTML = username;
            } else {
                console.log("Username is empty or null");
            }


            loadCity();

        });

        loadStates();


        function loadStates() {
            $.ajax({
                url: 'https://localhost:7029/api/ApiCity/states',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var stateDropdown = $('#c_stateid');
                    stateDropdown.empty();
                    stateDropdown.append($('<option>').val('').text('Select State'));

                    data.forEach(function (state) {
                        stateDropdown.append($('<option>').val(state.c_stateid).text(state.c_statename));
                    });
                }
            });
        }

        function LoadData(cityId) {
            $.ajax({
                url: 'https://localhost:7029/api/ApiCity/GetOneCity?id=' + cityId,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    $('#c_cityid').val(data.c_cityid);
                    $('#c_cityname').val(data.c_cityname);
                    $('input[name="c_type"][value="' + data.c_type + '"]').prop('checked', true);
                    var facilities = data.c_city_facility.split(',');
                    facilities.forEach(function (facility) {
                        $('input[name="facility"][value="' + facility + '"]').prop('checked', true);
                    });
                    $('#c_city_photo').attr('src', data.c_city_photo);
                    $('#c_stateid').val(data.state.c_stateid);
                    $('#c_stateid').change();

                    // Date handling
                    var date = new Date(data.c_date);
                    var month = '' + (date.getMonth() + 1);
                    var day = '' + date.getDate();
                    var year = date.getFullYear();

                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    var formattedDate = [year, month, day].join('-');
                    $('#c_date').val(formattedDate);
                }
            });
        }




        function loadCity() {
            $.ajax({
                url: 'https://localhost:7029/api/ApiCity/GetCities?id=' + username,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var cityTable = $('#cityTable tbody');
                    cityTable.empty();
                    data.forEach(function (city) {
                        var row = `<tr>
                            <td>${city.c_cityid}</td>
                            <td>${city.user.c_userid}</td>
                            <td>${city.c_cityname}</td>
                            <td>${city.c_type}</td>
                            <td>${city.c_city_facility}</td>
                            <td><img src="${city.c_city_photo}" width="50px" height="50px" /></td>
                            <td>${city.c_date ? new Date(city.c_date).toLocaleDateString() : 'N/A'}</td>
                            <td>${city.state.c_stateid}</td>
                            <td>
                                <button type="button" onClick="DeleteData(${city.c_cityid})"  class="btn btn-danger">Delete</button>

                                <button type="button" onclick="LoadData(${city.c_cityid})" class="btn btn-primary">Edit</button>

                            </td>
                        </tr>`;
                        cityTable.append(row);
                    });
                }
            });

        }

        function DeleteData(id) {
            $.ajax({
                url: 'https://localhost:7029/api/ApiCity?id=' + id,
                type: 'DELETE',
                success: function (response) {
                    window.location.reload();
                    console.log("Data deleted successfully");
                },
                error: function (xhr, status, error) {
                    console.error("Error deleting data:", error);
                }
            });
        }


        document.getElementById('Form').addEventListener('submit', function (event) {
            event.preventDefault();
            var form = document.getElementById('Form');
            var formData = new FormData(form);
            var facilities = [];
            $('input[name="facility"]:checked').each(function () {
                facilities.push($(this).val());
            });

            formData.append("c_city_facility", facilities.join(','));
            formData.append("c_userid", username);
            var fileInput = document.getElementById('file');
            if (fileInput.files.length === 0) {
                formData.append("file", null);
            }
            var cityid = $('#c_cityid').val();
            if (cityid && cityid > 0) {
                fetch('/AjaxCity/UpdateCity', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to Updated city.');
                        }
                        return response.text();
                    })
                    .then(data => {
                        console.log(data);
                        alert("City Updated successfully!");
                        loadCity();
                    })
                    .catch(error => {
                        console.error('Error adding city:', error.message);
                        alert("Failed to add city.");
                    });

            }

            else {
                formData.delete("c_cityid");
                formData.append("c_cityid", 11111);
                for (var pair of formData.entries()) {
                    console.log(pair[0] + ': ' + pair[1]);
                }

                fetch('https://localhost:7029/api/ApiCity', {
                    method: 'POST',
                    body: formData

                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to add city.');
                        }
                        return response.text();
                    })
                    .then(data => {
                        console.log(data);
                        alert("City added successfully!");
                        loadCity();
                    })
                    .catch(error => {
                        console.error('Error adding city:', error.message);
                        alert("Failed to add city.");
                    });
            }
        });


        var inactivityTimeout;

        function resetInactivityTimer() {
            clearTimeout(inactivityTimeout);
            inactivityTimeout = setTimeout(function () {
                window.location.href = '/User/Login';
            }, 300000);
        }

        document.addEventListener('mousemove', resetInactivityTimer);
        document.addEventListener('keydown', resetInactivityTimer);

        resetInactivityTimer();

    </script>

</body>

</html>
